* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1;
    background: url(../img/bkg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.preview-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
}

.preview-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.preview-grid img:hover {
    transform: scale(1.05);
    rotate: 2deg;
}

.preview-grid img:active {
    transform: scale(0.95);
    rotate: -2deg;
}

.preview{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 2;
}

.preview-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-weight: 900;
}

.preview-close:hover {
    color: #535353;
    font-weight: 900;
}

#preview-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .preview-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}