.light {
    --text: #111;
    --background: linear-gradient(135deg, #71b7e6, #7559b6);
    --item_background: rgba(255, 255, 255, 0.671);
    --glow: 0 0 10px rgb(0, 0, 0);
}

.dark {
    --text: #fff;
    --background: linear-gradient(135deg, #081346, #2c1238);
    --item_background: rgba(3, 6, 17, 0.671);
    --glow: 0 0 10px rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background);
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    color: var(--text);
    top: 0;
    left: 0;
    margin-bottom: 40px;
}

.slide a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 10px;
    cursor: pointer;
    color: var(--text);
}

.slide a::after {
    content: '';
    position: absolute;
    width: 80%;
    margin-left: 11%;
    transform: scaleX(0);
    height: 5px;
    border-radius: .5px;
    bottom: 0;
    left: 0;
    background-color: var(--text);
    transform-origin: bottom;
    transition: transform 0.2s ease-out;
}

.slide a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
}

ul {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

section {
    max-width: 100vw;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 110vh;
    position: relative;
}

section .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .content h2 {
    font-size: 30px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 20px;
}

section .content p {
    font-size: 18px;
    font-weight: 300;
    color: var(--text);
    margin-top: 40px;
    text-align: center;
}

section .content ul {
    margin-top: 20px;
}

section .content ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
    margin-left: 10px;
    transition: all 0.3s ease;
}

.top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: var(--glow);
    transition: all 0.3s ease;
    background: var(--item_background);
    z-index: 1000;
}

.top a {
    text-decoration: none;
    color: var(--text);
    font-size: 30px;
}

.top:active {
    scale: 0.9;
}

.top:hover {
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

.about .content p {
    font-size: 1.5rem;
    font-weight: 200;
    padding: 15px;
}

.skills ul {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.skills ul li {
    padding: 25px;
    font-size: 1.2em;
    border-radius: 2px;
    color: var(--text);
    margin: 10px;
    box-shadow: 0 0 4px black;
    background: var(--item_background);
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.skills ul li:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(71, 71, 71);
    scale: 1.1;
}

.skills ul li:active {
    scale: 0.9;
}

.slider .left-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--glow);
    transition: all 0.3s ease;
    background: var(--item_background);
    z-index: 1000;
    color: var(--text);
    margin: 0 20px;
}

.slider .right-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--glow);
    transition: all 0.3s ease;
    background: var(--item_background);
    z-index: 1000;
    color: var(--text);
    margin: 0 20px;
}

.slider .left-arrow:hover {
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

.slider .right-arrow:hover {
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

.slider .left-arrow:active {
    scale: 0.9;
}

.slider .right-arrow:active {
    scale: 0.9;
}

.slider .slides {
    display: flex;
    width: 100%;
    height: 80vh
}

.slider .slides .element {
    background: var(--item_background);
    padding: 30px;
    font-size: 1.2em;
    border-radius: 2px;
    color: var(--light-blue);
    margin: 10px;
    box-sizing: border-box;
    box-shadow: var(--glow);
    border-radius: 10px;
    transition: 0.3s ease;
    text-align: center;
    width: 60vw;
    height: 90vh;
}

.slider .slides .element img {
    width: 20vh;
    margin-bottom: 20px;
}

.slider .slides .element h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text);
}

.slider .slides .element h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text);
}

.slider .slides .element span {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 600;
}

.slider .slides .element a {
    text-decoration: none;
    color: var(--text);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background: var(--item_background);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.slider .slides .element a:hover {
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.friends {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.friends ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.friends ul li {
    background: var(--item_background);
    padding: 20px;
    font-size: 1.2em;
    border-radius: 2px;
    color: var(--light-blue);
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    transition: 0.3s ease;
    text-align: center;
}

.friends ul li a {
    text-decoration: none;
    color: var(--text);
}

.friends ul li:hover {
    scale: 1.04;
    box-shadow: 0 0 10px rgb(71, 71, 71);
    cursor: pointer;
}

.friends ul li:active {
    scale: 0.9;
}

.friends h1{
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .contact-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 180px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

footer p {
    font-size: 12px;
    font-weight: 500;
    color: var(--text);
    margin-top: 20px;
}

.fa-chevron-down {
    font-size: 50px;
    margin: 10px;
    color: var(--text);
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
    transition: all 0.3s ease;
}

.fa-chevron-down:hover {
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
    scale: 1.1;
}

.fa-github {
    font-size: 50px;
    margin: 10px;
    color: var(--text);
    transition: all 0.3s ease;
    border-radius: 50%;
}

.fa-globe {
    font-size: 50px;
    margin: 10px;
    color: var(--text);
    transition: all 0.3s ease;
    border-radius: 50%;
}

.fa-discord {
    font-size: 50px;
    margin: 10px;
    color: var(--text);
    transition: all 0.3s ease;
}

.fa-discord:hover {
    color: #7289DA;
    scale: 1.1;
    animation: discord 1.5s infinite;
}

.contact-item .fa-github:hover {
    background: #0b0a0e;
    box-shadow: none;
    animation: github 1s infinite;
}

.fa-html5 {
    color: #e34f26;
}

.fa-css3-alt {
    color: #264de4;
}

@keyframes discord {
    0% {
        rotate: 0deg;
    }

    50% {
        rotate: 360deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes github {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}

.fa-envelope {
    font-size: 50px;
    margin: 10px;
    color: var(--text);
    transition: all 0.3s ease;
    border-radius: 10px;
    padding: 0 6px;
}

.fa-envelope:hover {
    color: #156492;
    background: #fff;
}

.fa-sun {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
    transition: all 0.3s ease;
    border-radius: 50%;
}

.fa-sun:hover {
    rotate: 90deg;
    cursor: pointer;
}

.fa-moon {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
    transition: all 0.3s ease;
    border-radius: 50%;
}

.fa-moon:hover {
    rotate: 90deg;
    cursor: pointer;
}

.fa-bars {
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
    color: var(--text);
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    section {
        margin-top: 40vh;
    }

    section .content h2 {
        font-size: 25px;
    }

    section .content p {
        font-size: 16px;
    }

    section .content ul li {
        font-size: 16px;
    }

    .top a {
        font-size: 25px;
    }

    .timeline {
        margin-top: 20px;
    }

    .event {
        padding: 20px;
    }

    .event h3 {
        font-size: 16px;
    }

    .event a {
        font-size: 14px;
    }

    .skills ul li {
        padding: 15px;
        font-size: 1em;
    }

    .project-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-items .project-item {
        margin-top: 20px;
        font-size: 1em;
    }

    .project-items .project-item h1 {
        font-size: 20px;
    }

    .project-items .project-item h3 {
        font-size: 16px;
    }

    .contact .contact-items a {
        margin: 0 10px;
    }

    footer p {
        font-size: 10px;
    }

    .fa-chevron-down {
        font-size: 40px;
    }

    .fa-github {
        font-size: 40px;
    }

    .fa-github:hover {
        scale: 1;
    }

    .fa-globe {
        font-size: 40px;
    }

    .fa-discord {
        font-size: 40px;
    }

    .fa-discord:hover {
        scale: 1;
    }

    .fa-envelope {
        font-size: 40px;
    }

    .fa-envelope:hover {
        scale: 1;
    }

    .about {
        margin-top: 100vh;
    }

    .dropdown {
        height: 48px;
        padding: 0;
    }
}