.light {
    --text: #111;
    --background: linear-gradient(135deg, #71b7e6, #7559b6);
    --item_background: rgba(255, 255, 255, 0.671);
}

.dark {
    --text: #fff;
    --background: linear-gradient(135deg, #1e202e, #081346);
    --item_background: rgba(3, 6, 17, 0.671);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background);
}

::-webkit-scrollbar {
    display: none;
}

.slide a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 10px;
}

.slide a::after {
    content: '';
    position: absolute;
    width: 80%;
    margin-left: 11%;
    transform: scaleX(0);
    height: 5px;
    border-radius: .5px;
    bottom: 0;
    left: 0;
    background-color: var(--text);
    transform-origin: bottom;
    transition: transform 0.2s ease-out;
}

.slide a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
}

header {
    position: absolute;
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    top: 0;
}

header .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

header .logo {
    font-size: 30px;
    font-weight: 600;
    color: var(--text);
    top: 0;
    left: 0;
}

header .logo h1 {
    font-size: 30px;
    font-weight: 600;
    color: var(--text);
    top: 0;
    left: 0;
}

header nav {
    top: 0;
    right: 0;
    opacity: 1;
    display: flex;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
    transition: all 0.3s ease;
}

header nav ul li select {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
    transition: all 0.3s ease;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 1em;
}

header nav ul li select:focus {
    color: #555;
}

header .menu {
    width: 50px;
    cursor: pointer;
    display: none;
}

header .welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 22vh;
}

header .welcome-text h1 {
    font-size: 50px;
    font-weight: 600;
    color: var(--text);
}

header .welcome-text p {
    font-size: 20px;
    font-weight: 500;
    color: var(--text);
    margin-top: 40px;
}

.arrow {
    animation: animate 3s infinite;
    bottom: 40px;
    position: absolute;
    right: 50%;
    translate: 50%;
}

.arrow img {
    width: 80px;
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}

section {
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 110vh;
    position: relative;
}

section .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .content h2 {
    font-size: 30px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 20px;
}

section .content p {
    font-size: 18px;
    font-weight: 300;
    color: var(--text);
    margin-top: 40px;
    text-align: center;
}

section .content ul {
    margin-top: 20px;
}

section .content ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
    margin-left: 10px;
    transition: all 0.3s ease;
}

.top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background: var(--item_background);
    z-index: 1000;
}

.top a {
    text-decoration: none;
    color: var(--text);
    font-size: 30px;
}

.timeline {
    margin-top: 40px;
}

.event {
    padding: 30px;
    margin-bottom: 20px;
    background: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 2px 2px 4px black;
    border-radius: 4px;
}

.event h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text);
}

.event a {
    font-size: 14px;
    font-weight: 300;
    color: var(--text);
    text-decoration: none;
    margin-left: 20px;
    align-items: flex-end;
}

.skills ul {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.skills ul li {
    padding: 25px;
    font-size: 1.2em;
    border-radius: 2px;
    color: var(--text);
    margin: 10px;
    box-shadow: 0 0 4px black;
    background: var(--item_background);
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.skills ul li:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(71, 71, 71);
    scale: 1.1;
}

.project-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 30px;
}

.project-items .project-item {
    background: var(--item_background);
    padding: 20px;
    font-size: 1.2em;
    border-radius: 2px;
    text-decoration: none;
    color: var(--light-blue);
    margin-top: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    transition: 0.3s ease;
    text-align: center;
}

.project-items .project-item:hover {
    scale: 1.04;
    box-shadow: 0 0 10px rgb(71, 71, 71);
}

.project-items .project-item h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text);
}

.project-items .project-item h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text);
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .contact-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 180px;
}

/*.contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 500;
    color: var(--text);
    background: var(--background);
    box-shadow: 0 0 10px black;
}

.contact form input:focus,
.contact form textarea:focus {
    box-shadow: 0 0 10px black;
}*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

footer p {
    font-size: 12px;
    font-weight: 500;
    color: var(--text);
    margin-top: 20px;
}

.fa-chevron-down {
    font-size: 50px;
    margin: 10px;
    color: var(--text);
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
    transition: all 0.3s ease;
}

.fa-chevron-down:hover {
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
    scale: 1.1;
}

.fa-github {
    font-size: 50px;
    margin: 10px;
    color: var(--text);
    transition: all 0.3s ease;
    border-radius: 50%;
}

.fa-github:hover {
    color: #f0f0f0;
    scale: 1.1;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.fa-globe {
    font-size: 50px;
    margin: 10px;
    color: var(--text);
    transition: all 0.3s ease;
    border-radius: 50%;
}

.fa-globe:hover {
    color: #f0f0f0;
    scale: 1.1;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.fa-discord {
    font-size: 50px;
    margin: 10px;
    color: var(--text);
    transition: all 0.3s ease;
}

.fa-discord:hover {
    color: #7289DA;
    scale: 1.1;
}

.fa-envelope {
    font-size: 50px;
    margin: 10px;
    color: var(--text);
    transition: all 0.3s ease;
}

.fa-envelope:hover {
    color: #ffffff;
    scale: 1.1;
}

.fa-sun {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
    transition: all 0.3s ease;
    border-radius: 50%;
}

.fa-sun:hover {
    rotate: 90deg;
    cursor: pointer;
}

.fa-moon {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
    transition: all 0.3s ease;
    border-radius: 50%;
}

.fa-moon:hover {
    rotate: 90deg;
    cursor: pointer;
}

.fa-bars {
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
    color: var(--text);
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    header {
        max-width: 100vw;
        width: 100vw;
    }

    header nav {
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        max-width: 1000vw;
        width: 100%;
        margin-top: 100px;
        transition: 0.3s ease;
        backdrop-filter: blur(10px);
        padding: 20px;
        border-radius: 8px;
    }

    header .menu {
        display: flex;
        justify-content: center;
        z-index: 1000;
    }

    header .welcome-text {
        margin-top: 25vh;
    }

    header .welcome-text h1 {
        font-size: 40px;
    }

    header .welcome-text p {
        font-size: 16px;
    }

    section {
        margin-top: 40vh;
    }

    section .content h2 {
        font-size: 25px;
    }

    section .content p {
        font-size: 16px;
    }

    section .content ul li {
        font-size: 16px;
    }

    .top a {
        font-size: 25px;
    }

    .timeline {
        margin-top: 20px;
    }

    .event {
        padding: 20px;
    }

    .event h3 {
        font-size: 16px;
    }

    .event a {
        font-size: 14px;
    }

    .skills ul li {
        padding: 15px;
        font-size: 1em;
    }

    .project-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-items .project-item {
        margin-top: 20px;
        font-size: 1em;
    }

    .project-items .project-item h1 {
        font-size: 20px;
    }

    .project-items .project-item h3 {
        font-size: 16px;
    }

    .contact .contact-items a {
        margin: 0 10px;
    }

    footer p {
        font-size: 10px;
    }

    .fa-chevron-down {
        font-size: 40px;
    }

    .fa-github {
        font-size: 40px;
    }

    .fa-github:hover {
        scale: 1;
    }

    .fa-globe {
        font-size: 40px;
    }

    .fa-discord {
        font-size: 40px;
    }

    .fa-discord:hover {
        scale: 1;
    }

    .fa-envelope {
        font-size: 40px;
    }

    .fa-envelope:hover {
        scale: 1;
    }

    .about {
        margin-top: 100vh;
    }
}